* {
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(235, 243, 250);
}

/*nav section styling*/
nav {
    height: 64px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;

}

.navItems {
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.otherLinks {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

/*header section styling*/
.header {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.headerItems {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.aboutMe {
    margin-top: 30%;
    width: 100%;
    border: solid 2px black;
    text-align: center;
    font-family: "Times New Roman";
}

#verticalArrow {
    margin-bottom: 15%;
}



/*UI / Ui and Web Dev section styling*/
.work {
    display: flex;
    justify-content: center;
    align-items: center;
}

.workItems {
    width: 80%;
    max-width: 1200px;
}

.sectionTitle {
    margin: 50px 0 50px 0;
}

.pieces {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10%;
}


#otherWork {
    margin-top: 150px;
}


/*Individual piece styling*/
.pieceImage {
    width: 100%;
}

.pieceTitle {
    margin: 18px 0 18px 0;
}

.pieceSkills {
    margin: 15px 0 15px 0;
    display: flex;
    gap: 20px;
}

.skill {
    background-color: rgb(255, 255, 255);
    padding: 3px 15px;
    border-radius: 5px;
}

.pieceLinkContent {
    padding: 15px 40px 15px 0;
    display: flex;
    gap: 10px;
    border: solid 2px black;
}


/*footer styling*/
#footerLine {
    margin-top: 150px;
}

footer {
    height: 300px;
    display: flex;
    justify-content: center;
}

.footerItems {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 25px 0;
}

.socialInfo {
    text-align: center;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.copyrightInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
}