* {
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #FEFEFE;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, p, a {
    font-family: 'Open Sans', sans-serif; 
    font-weight: 600;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #000000;
}

/*nav section styling*/
nav {
    height: 64px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    background-color: #dee7ff;
}

.navItems {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;  
}

.otherLinks {
    list-style: none;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.navItems a {
    transition: color 0.25s linear, opacity 0.25s linear;
}

.navItems a:hover {
    color: #365BBA;
}

.navIcon {
    transition: fill 0.25s linear, opacity 0.25s linear;
}

.navIcon:hover {
    fill: #365BBA;
}

#hamburgerMenuColour {
    transition: fill 0.25s linear;
}

.hamburger {
    border: none;
    cursor: pointer;
    display: none;
}


/*header section styling*/
.header {
    height: 500px;
    display: flex;
    justify-content: center;
    background-color: #dee7ff;
}

.headerItems {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*About me section*/
.headerInfo {
    width: 100%;
    text-align: center;
}

.headerInfo p {
    margin-top: 40px;
    font-size: 24px;
    line-height: 30px;
}

.typed-cursor {
    display: none;
}

.autoType {
    font-family: 'Open Sans', sans-serif; 
    font-weight: 700;
    color: #365BBA;
}

#verticalArrowColour {
    fill: rgb(13, 27, 23);
    transition: fill 0.25s linear;
}

#verticalArrow {
    margin-bottom: 10%;
}

#verticalArrow {
    animation: upDown 1.5s ease-in-out infinite;
}

@keyframes upDown {
    0%, 100% {
      margin-bottom: 10%;
    }
    50% {
      margin-bottom: 12%;
    }
  }

#verticalArrow:hover #verticalArrowColour {
    fill: #365BBA;
}

/*UI / Ui and Web Dev section styling*/
.work {
    display: flex;
    justify-content: center;
    align-items: center;
}

.workItems {
    width: 80%;
    max-width: 1200px;
}

.sectionTitle {
    margin: 75px 0 75px 0;
}

.pieces {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10%;
}

.heroImgLink:hover img {
    opacity: 60%;
    transition: 0.25s;
}

#otherWork {
    margin-top: 400px;
}


/*Individual piece styling*/
.pieceImage {
    width: 100%;
}

.pieceTitle {
    margin: 18px 0 18px 0;
}

.productTitleLink:hover {
    color:#365BBA;
    text-decoration: underline;
}

.pieceSkills, .stage{
    margin: 15px 0 15px 0;
    display: flex;
    gap: 20px;
}

.pieceLink{
    display: none;
}

.pieceHorizontalLine {
    opacity: 50%;
}

.skill {
    background-color:#dee7ff;
    padding: 3px 15px;
    border-radius: 5px;
    color:#365BBA;
}

#horizontalArrowColor {
    fill: #365BBA;
}

.pieceLinkContent, #finalWebsiteLink {
    padding: 15px 40px 15px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #365BBA;
}

.pieceLinkContent, #finalWebsiteLink {
    transition: gap 0.4s linear
}

.pieceLinkContent:hover, #finalWebsiteLink:hover {
    gap: 30px;
}


footer {
    margin-top:250px;
    height: 400px;
    display: flex;
    justify-content: center;
    background-color: #dee7ff;
}

.footerItems {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 75px 0 25px 0;
}

.socialInfo {
    text-align: center;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#email {
    color: #365BBA;
}

.iconLinks {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.socialInfo img {
    width: 40px;
}

.copyrightInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.aboutMe {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.aboutMeItems {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}

.aboutMeContent {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 75px;
    margin-top: 75px;
}

.aboutMeContent h2 {
    color: #365BBA;
    margin-bottom: 25px;
}

#aboutMeImg {
    width: 100%;
    border-radius: 600px;
}

@media only screen and (max-width: 800px) {

    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    .navItems {
        width: 90%;
    }


    .headerItems {
        width: 90%;
    }


    .aboutMe p {
        margin-top: 40px;
        font-size: 16px;
        line-height: 24px;
    }

    #verticalArrow {
        margin-bottom: 22%;
    }
    
    #verticalArrow {
        animation: upDown 1.5s ease-in-out infinite;
    }

    @keyframes upDown {
        0%, 100% {
          margin-bottom: 22%;
        }
        50% {
          margin-bottom: 24%;
        }
      }

    .workItems {
        width: 90%;
    }

    .sectionTitle {
        text-align: center;
    }

    .pieces {
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    .pieceLink{
        display: block;
    }

    #horizontalArrowColor {
        fill: #dee7ff;
    }

    .pieceLinkContent, #finalWebsiteLink {
        margin-top: 30px;
        padding: 15px 0 15px 0;
        display: flex;
        gap: 10px;
        justify-content: center;
        border: none;
        background-color:#365BBA;
        border-radius: 5px;
        color: #dee7ff;
    }

    .pieceLinkContent {
        transition: gap 0.4s linear, background-color 0.25s linear;
    }

    #otherWork {
        margin-top: 100px;
    }
    
    .footerItems {
        width: 90%;
    }

    .copyrightInfo {
        display: flex;
        
        flex-direction: column;
        text-align: center;
        align-content: center;
        justify-content: center;
        gap: 20px;
    }

    .otherLinks {
        display: none;
        animation: slide-in 0.5s ease-in-out;
    }

    .otherLinks a{
        color:#dee7ff;
    }

    .navIcon {
        fill: #dee7ff;
    }

    .hamburger {
        display: block;
        background: url("images/hamburgerMenu.svg");
        background-repeat: no-repeat;
        width: 30px;
        height: 22px;
        z-index: 9999;
    }

    .hamburger.show {
        background: url("images/hamburgerMenuLight.svg");
        position: fixed;
        left: 90%;
    }

    .otherLinks.show {
        display: flex;
        position: fixed;
        inset: 0 0 0 30%;
        width: auto;
        flex-direction: column;
        justify-content: start;
        padding: min(30vh, 10rem) 3em;
        gap: 2em;
        background: #365BBA;
        color: #FEFEFE;
        z-index: 1000;
        animation: slide-out 0.5s ease-in-out;
        transform: translateX(0%);
    }

    .otherLinks a:hover, .navIcon:hover  {
        opacity: 70%;
        color: #dee7ff;
        fill: #dee7ff;
    }

    .aboutMeItems {
        width: 90%;
      }

    .aboutMeContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

      #aboutMeImg {
        width: 50%;
    }

    .aboutMeText {
        text-align: center;
    }

    @keyframes slide-out {
        0%{
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0%);
        }
      }
      
      

}


.description {
    display: flex;
    justify-content: center;
}

.descriptionItems {
    width: 80%;
    max-width: 1200px;
}

#heroImage {
    width: 100%;
    margin-top: 75px;
}

.pieceInfo {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
}

.info {
    margin-top: 75px;
}

.stage {
    background-color:#dee7ff;
    padding: 3px 15px;
    border-radius: 5px;
    color:#365BBA;
    width: fit-content;
}

.info h2 {
    margin: 25px 0;
}

.info p {
    max-width: 800px;
}

.info img {
    width: 100%;
    margin-top: 25px;
}



.sideKey {
    margin-top: 40px;
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.sideKey2 {
    flex-direction: row-reverse;
}

.sideKey h2 {
    margin: 0 0 25px 0;
}


.sideKey p {
    max-width: 400px;
}

.sideKey img {
    width: 40%;
    height: 100%;
}

.sideKey3 img {
    width: 50%;
}

#styleGuide, .columnImg3 {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.mockupTitle {
    text-align: center;
}

.columnImg3 {
    grid-template-columns: repeat(3, 1fr);
}

#styleGuide img, .columnImg3 img, .imgShadow{
    filter: drop-shadow(0 4px 2px hsla(0, 0%, 0%, 0.24));
    margin-top: 0;
}

#finalWebsiteLink {
    display: flex;
    justify-content: center;
    align-items: center;
}

.takeaways {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.listedText {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left:30px;
}

iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.pdfViewer {
    width: 100%;
    aspect-ratio: 8 / 10;
}

.moreProjects {
    display: flex;
    justify-content: center;
    align-items: center;
}

.moreProjectsItems {
    width: 80%;
    max-width: 1200px;
    margin-top: 200px;
}

.moreProjectsItems h2 {
    margin: 75px 0 75px 0;
}

.moreProjectsImages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.moreProjectsImages img {
    width: 100%;
}

.threeColImg {
    display: grid;
    grid-template-columns: 1fr 0.2fr 1fr;
    gap: 20px;
    align-items: center;
}

.dropShadow {
    filter: drop-shadow(0 4px 2px hsla(0, 0%, 0%, 0.24));
}


@media only screen and (max-width: 850px) {
    .pieceInfo {
        flex-direction: column;
        gap: 20px;
    }

}

@media only screen and (max-width: 800px)  {
    .sideKey {
        flex-direction: column;
        gap: 25px;
        align-items: flex-start;
    }

    .sideKey img {
        width: 100%;
    }

    .descriptionItems {
        width: 90%;
    }

}

