* {
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(235, 243, 250);
}

h1, h2, h3, h4, p, a {
    font-family: 'Open Sans', sans-serif; 
    font-weight: 600;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

/*nav section styling*/
nav {
    height: 64px;
    background-color: transparent;
    display: flex;
    justify-content: center;

}

.navItems {
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.otherLinks {
    width: 250px;
    display: flex;
    justify-content: space-between;
}

/*header section styling*/
.header {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.headerItems {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.aboutMe {
    margin-top: 30%;
    width: 100%;
    border: solid 2px black;
    text-align: center;
}



#verticalArrow {
    margin-bottom: 15%;
}

#verticalArrow {
    animation: upDown 1.5s ease-in-out infinite;
}

@keyframes upDown {
    0%, 100% {
      margin-bottom: 15%;
      fill: aqua;
    }
    50% {
      margin-bottom: 17%;
    }
  }

#verticalArrow:hover {
    opacity: 70%;
    transition: 0.25;
}

/*UI / Ui and Web Dev section styling*/
.work {
    display: flex;
    justify-content: center;
    align-items: center;
}

.workItems {
    width: 80%;
    max-width: 1200px;
}

.sectionTitle {
    margin: 50px 0 50px 0;
}

.pieces {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10%;
}


#otherWork {
    margin-top: 150px;
}


/*Individual piece styling*/
.pieceImage {
    width: 100%;
}

.pieceTitle {
    margin: 18px 0 18px 0;
}

.pieceSkills {
    margin: 15px 0 15px 0;
    display: flex;
    gap: 20px;
}

.skill {
    background-color: rgb(255, 255, 255);
    padding: 3px 15px;
    border-radius: 5px;
}

.pieceLinkContent {
    padding: 15px 40px 15px 0;
    display: flex;
    gap: 10px;
    border: solid 2px black;
    color: black;
}

.pieceLinkContent {
    transition: gap 0.4s linear, color 0.4s linear;
}

.pieceLinkContent:hover {
    gap: 30px;
    color: rgb(102, 102, 102);
}


/*footer styling*/
#footerLine {
    margin-top: 150px;
}

footer {
    height: 300px;
    display: flex;
    justify-content: center;
}

.footerItems {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 25px 0;
}

.socialInfo {
    text-align: center;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.copyrightInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@media only screen and (max-width: 800px) {

    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 24px;
    }
    
    body {
        background-color: azure;
    }


    .sectionTitle {
        text-align: center;
    }

    .pieces {
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    .pieceLinkContent {
        margin-top: 30px;
        padding: 15px 0 15px 0;
        display: flex;
        gap: 10px;
        justify-content: center;
        border: none;
        color: black;
        background-color: rgb(148, 123, 123);
        border-radius: 5px;
    }

    .pieceLinkContent {
        transition: gap 0.4s linear, background-color 0.25s linear;
    }
    
    .pieceLinkContent:hover {
        gap: 30px;
        color: black;
        background-color: rgb(183, 183, 209);
    }

    #otherWork {
        margin-top: 100px;
    }
    
}